.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.pngur");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}
.card {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
h1 {
  color: #0f172a;
  text-align: center;
}
.bg-heading {
  font-size: 20px;
}
img {
  align-self: center;
  width: 20%;
}
.heading {
  font-size: 20px;
}
.paragraph {
  font-size: 16px;
}
@media (min-width: "768px") {
  .heading {
    font-size: 30px;
  }
  .bg-heading {
    font-size: 40px;
  }
  img {
    align-self: center;
    width: 30%;
  }
  .paragraph {
    font-size: 26px;
  }
}
